{{ 'faq.css' | asset_url | stylesheet_tag }}
<section class="faq notranslate">
  <h3 style="text-align:center;">FAQ</h3>
  {{ pages['faq-general'].content }}
  <div style="margin-top:20px"></div>
  {{ pages['faq-carreaux'].content }}
  <div style="margin-top:20px"></div>
  {{ pages['faq-papier-peint'].content }}
</section>

<style>
    .faq .accordeon>div>div {
      display:flex !important;
    }
    .faq .accordeonTitle::after {
    display: none !important;
  }
    .faq .accordeonTitle:hover {
    padding: 0 !important;
    cursor: text !important;
  }
  .faq > * {
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $(".faq .accordeonItem>span").click(function () {
        $(this).parent().toggleClass("active");
    });
  });
</script>
